/* グレー系 */

$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

/* 黄色系 */

$dark_yellow: #888844;
$very_dark_yellow: darken($dark_yellow, 25%);

/* 赤系 */
$red: #cc0000;
$pink: #ffcccc;

/* 緑系 */
$green: #00cc00;
