@import "colors";
@import "dimensions";

div#wrapper {
  div#container {
    div#login-form {
      width: 400px;
      margin: $wide * 2 auto;
      padding: $wide * 2;
      border-radius: $wide;
      border: solid 4px $dark_yellow;
      background-color: $very_light_gray;

      h1 {
        background-color: transparent;
        color: $very_dark_yellow;
        font-size: $huge;
        font-weight: bold;
      }

      form {
        div {
          padding: $wide;
          label {
            display: block;
            padding: $moderate 0;
          }
          input[type="text"], input[type="password"] {
            padding: $wide;
            width: 400px - $wide * 4;
          }
          input[type="submit"] {
            padding: $wide $wide * 2;
          }
          input[type="checkbox"]+label { display: inline-block; }
        }
      }
    }
  }
}
