@import "colors";
@import "dimensions";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  color: $dark_magenta;
}
div#wrapper {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  background-color: $gray;
}
header {
  padding: $moderate;
  background-color: $dark_magenta;
  color: $very_light_gray;
  a.logo-mark {
    float: none;
    text-decoration: none;
    font-weight: bold;
  }
  a {
    float: right;
    color: $very_light_gray;
  }
}
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: $dark_gray;
  color: $very_light_gray;
  p {
    text-align: center;
    padding: $moderate;
    margin: 0;
  }
}
