<tr> 
  <% unless @staff_member %>
  <td>
    <%= link_to(event.member.family_name + event.member.given_name,
      [ :admin, event.member, :staff_events ]) %>
  </td>
  <% end %>
  <td><%= event.description %></td>
  <td class="date">
    <%= event.occurred_at.strftime("%Y/%m/%d %H:%M:%S") %>
  </td>
</tr>
