/* グレー系 */

$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

/* シアン系 */

$dark_cyan: #448888;
$very_dark_cyan: darken($dark_cyan, 25%);

/* 赤系 */
$red: #cc0000;

/* 緑系 */
$green: #00cc00;
