@import "colors";
@import "dimensions";

div.description, div.body {
  margin: $wide;
  padding: $wide;
  background-color: $very_light_gray;
}

div.tags {
  margin: $wide 0;
  padding: $wide;
  background-color: $very_light_gray;

  span.current_tag {
    font-weight: bold;
  }
}
