<header>
  <span class="logo-mark">BAUKIS2</span>
  <%=
    if current_staff_member
      link_to "ログアウト", :staff_session, method: :delete
    else
      link_to "ログイン", :staff_login
    end
  %>
</header>
