@import 'colors';
@import 'dimensions';

div#wrapper {
  div#container {
    h1 {
      margin: 0;
      padding: $moderate * 1.5 $moderate;
      font-size: $large;
      font-weight: normal;
      background-color: $very_dark_yellow;
      color: $light_gray;
    }
  }
}
